#check {
  font-size: 30px;
  background: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
}

#check:hover {
  cursor: pointer;
  background: greenyellow;
  color: grey;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rating {
  font-size: 30px;
  background: grey;
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
  margin: 30px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.place {
  cursor: pointer;
  text-align: left;
}